{%  if main_template %}
{% extends main_template %}
{% else %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript">
    deform.load()
</script>

</head>
<body class="container">
{% block content %}
{% endblock %}

</body>
</html>
{% endif %}