{% extends main_template %}

{% block content %}
    <table class="table">
    <tr>
        <th>
            attr
        </th>
        <th>
            value
        </th>
    </tr>
    <tr>
        <td>
            {{ _('lang_direction') }}
        </td>
        <td>
            {{ locale.text_direction }}
        </td>
    </tr>
        <tr>
        <td>
            {{ _('character_order') }}
        </td>
        <td>
            {{ _(locale.character_order) }}
        </td>
    </tr>
    </table>

{#    {{ locale.time_zones }}#}
    {% for css in form.get_widget_resources()['css'] %}
        <link rel="stylesheet" href="{{ request.static_url(css) }}" type="text/css"/>
    {% endfor %}


    {% for js in form.get_widget_resources()['js'] %}
        <script type="text/javascript" src="{{ request.static_url(js) }}"></script>
    {% endfor %}

    {{ form.render() | safe }}

{% endblock content %}
{% block title %}
    {{ _('translation_for (${en_name}/${display_name})' ,mapping={'en_name':locale.english_name, 'display_name':locale.display_name})  }}
    domain {{ request.matchdict['domain'] }}
{% endblock %}
